<div class="container-fluid">
    <ngx-charts-line-chart *ngIf="multi1 && multi1.length > 0" 
        [view]="view"
        [scheme]="colorScheme"
        [results]="multi1"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        (select)="onSelect($event)">
        </ngx-charts-line-chart>
</div>
