<div class="container-fluid">
  <form #myForm="ngForm"  (ngSubmit)="route()"> 
    <div class="form-group">
      <label>File input</label>
      <input type="file" class="form-control-file" name="file" (change)="fileUploadListener($event)" />
    </div>
    <button type="submit"  class="btn btn-primary">Submit</button>
  </form>
</div>

